<div class="row">
    <div class="col-6 m-auto">
    <div class="card m-auto">
      <div class="card-header">
        Register
      </div>
      <div class="card-body">
        <form [formGroup]="registrationForm" (ngSubmit)="submit()" autocomplete="off">
          <div class="form-group col-12">
              <label for="name" class="form-label">Name</label>
              <input type="text" class="form-control" formControlName="name" autocomplete="off" >
              <span *ngIf="!registrationForm.get('name').valid && registrationForm.get('name').touched" class="text-danger">Please provide valid Name</span>
          </div>

          <div class="form-group col-12">
            <label for="name" class="form-label">Username</label>
            <input type="text" class="form-control" formControlName="userName" >
            <span *ngIf="!registrationForm.get('userName').valid && registrationForm.get('userName').touched" class="text-danger">Please provide valid username</span>
        </div>
  
          <div class="form-group col-12">
            <label for="email" class="form-label">Email</label>
            <input type="text" class="form-control" formControlName="email">
            <span *ngIf="!registrationForm.get('email').valid && registrationForm.get('email').touched" class="text-danger">Please provide valid email</span>
          </div>
  
          <div class="form-group col-12">
            <label for="passwrod" class="form-label">Password</label>
            <input type="password" class="form-control"  formControlName="password"> 
            <span *ngIf="!registrationForm.get('password').valid && registrationForm.get('password').touched" class="text-danger">Please provide valid password</span>
          </div>
  
          <div class="form-group col-12 my-3">
            <button type="submit" class="btn btn-primary mx-1">Save</button>
            <button type="reset" class="btn btn-secondary mx-1">Cancel</button>
          </div>

          <p>FormValue: {{ registrationForm.value | json }}</p>
          <p>FormValue: {{ registrationForm.valid }}</p>
        </form>
      </div>
    </div>
    </div>
  </div>