<div class="container mt-3">
  <button
    mat-raised-button
    color="primary"
    class="mb-3 float-end"
    routerLink="/employee-setup"
  >
    <mat-icon>add</mat-icon> Add Employee
  </button>

  <div class="example-header">
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>
  </div>

  <table
    mat-table
    [dataSource]="dataSource"
    #mytable
    matSort
    class="my-table mat-elevation-z8 table-responsive demo-table"
  >
    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <!-- Id Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>ID.</th>
      <td mat-cell *matCellDef="let element">{{ element.id }}</td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="employeeName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
      <td mat-cell *matCellDef="let element">{{ element.employeeName }}</td>
    </ng-container>

    <!-- Department Column -->
    <ng-container matColumnDef="departmentName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Department</th>
      <td mat-cell *matCellDef="let element">{{ element.departmentName }}</td>
    </ng-container>

    <!-- Designation Column -->
    <ng-container matColumnDef="designationName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Designation</th>
      <td mat-cell *matCellDef="let element">{{ element.designationName }}</td>
    </ng-container>

    <!-- Action Column -->
    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef>Action</th>

      <!-- <mat-cell *matCellDef="let element">
        <button
          mat-icon-button
          matTooltip="Click to Edit"
          class="iconbutton"
          color="primary"
        >
          <mat-icon>edit</mat-icon>
        </button>
      </mat-cell> -->

      <td mat-cell *matCellDef="let element" class="action-link">
        <button
          mat-icon-button
          class="mx-2 text-warning"
          (click)="editEmployee(element)"
        >
          <mat-icon>edit</mat-icon>
        </button>
        <button
          mat-icon-button
          class="mx-2 text-success"
          (click)="showModal(element)"
        >
          <mat-icon>remove_red_eye</mat-icon>
        </button>
        <button
          mat-icon-button
          class="mx-2 text-danger"
          (click)="deleteEmployee(element)"
        >
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>

  <div
    class="modal fade"
    id="exampleModal"
    tabindex="-1"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-lg modal-dialog-centered " *ngFor="let item of modelData">
      <div class="modal-content">
        <div class="modal-header text-center">
          <div  class="modal-title fw-bold w-100">
            Employee Details
          </div>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <div class="row">

            <div class="col-12">
              <label for="exampleFormControlInput1" class="form-label fw-bold"
                >Name:
              </label>
              {{ item.employeeName }}
            </div>


            <div class="col-6">
              <label for="exampleFormControlInput1" class="form-label fw-bold"
                >Department:
              </label>
              {{ item.departmentName }}
            </div>

            
            
            <div class="col-6">
              <label for="exampleFormControlInput1" class="form-label fw-bold"
                >Designation:
              </label>
              {{ item.designationName }}
            </div>

            
            <div class="col-6">
              <label for="exampleFormControlInput1" class="form-label fw-bold"
                >Email:
              </label>
              {{ item.email }}
            </div>
            <div class="col-6">
              <label for="exampleFormControlInput1" class="form-label fw-bold"
                >Address:
              </label>
              {{ item.address }}
            </div>

            
            <div class="col-6">
              <label for="exampleFormControlInput1" class="form-label fw-bold"
                >Gender:
              </label>
              {{ item.genderName }}
            </div>
            <div class="col-6">
              <label for="exampleFormControlInput1" class="form-label fw-bold"
                >Type:
              </label>
              {{ item.typeName }}
            </div>

            <mat-divider class="my-2"></mat-divider>


            <div class="col-4">
              <label for="exampleFormControlInput1" class="form-label fw-bold"
                >Qualification:
              </label>
              {{ item.qualificationName  }}
            </div>
            <div class="col-4">
              <label for="exampleFormControlInput1" class="form-label fw-bold"
                >Date of Birth:
              </label>
              {{ item.dob | date }}
            </div>
            <div class="col-4">
              <label for="exampleFormControlInput1" class="form-label fw-bold"
                >Date of Joining:
              </label>
              {{ item.doj | date }}
            </div>

            <div class="col-4">
              <label for="exampleFormControlInput1" class="form-label fw-bold"
                >Phone Number:
              </label>
              {{ item.phoneNumber  }}
            </div>
            <div class="col-4">
              <label for="exampleFormControlInput1" class="form-label fw-bold"
                >City:
              </label>
              {{ item.cityName }}
            </div>
            <div class="col-4">
              <label for="exampleFormControlInput1" class="form-label fw-bold"
                >State:
              </label>
              {{ item.stateName }}
            </div>

          </div>
        </div>

        <div class="modal-footer">
          <button
            type="button"
            class="mx-1"
            data-bs-dismiss="modal"
            mat-raised-button
            color="light"
          >
            Close
          </button>
        
        </div>
      </div>
    </div>
  </div>
</div>
